{% load static %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Panel</title>
</head>

<body>

    <a href="{% url 'loot:containers' %}">Load containers</a>
    <a href="{% url 'loot:tables' %}">Load loot tables</a>

    {% comment %} <div class="top-bar">
        <div class="top-bar-left">
            <a href="{% url 'posts:home' %}"><img src="{% static 'img/logo.png' %}" id='logo'/></a>
            {% if request.user.is_authenticated %}
                <img src="{{ request.user.profile.picture.url }}" id="custom-user-avatar">
                <h6>Hi {{ request.user.username }}!</h6>
            {% endif %}
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'posts:home' %}">All Chirps</a></li>
                    <li><a href="{% url 'posts:home_filtered' %}">Your Feed</a></li>
                    <li><a href="{% url 'posts:create' %}">New Chirp</a></li>
                    <li><a href="{% url 'users:profile' request.user.username %}">My Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'users:signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div> {% endcomment %}

    {% block content %}
    {% endblock content %}

</body>

</html>
